!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular echarts
    link(rel='stylesheet',href='/css/lib/bootstrap/bootstrap.min.css')
    link(rel='stylesheet',href='/css/app.css')	
  body
    block body