* {
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}
html,body {
	width:100%;
}
#main {
    margin: 0 10px;
}


/*module*/
.m-chart {
    height: 300px;
}

.m-option {
	position: absolute;
	bottom: 0;
	right: 0;
	top: 80px;
	overflow: auto;
}

/*function*/
.f-mt20 {
    margin-top: 20px;
}
.f-mt10 {
    margin-top: 10px;
}